In [39]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## ƒê·ªçc b·ªô d·ªØ li·ªáu

In [40]:
df = pd.read_csv('D:\Desktop\Data_Analyst\Jupiter_Notebook_Pandas\Pandas\GDPlist1.csv',sep=',')
df.head()

       Country      Continent  GDP (millions of US$)
0  Afghanistan           Asia                  18181
1      Albania         Europe                  12847
2      Algeria         Africa                 190709
3       Angola         Africa                 100948
4    Argentina  South America                 447644

## Y√™u c·∫ßu 1

In [41]:
 #s·ªë d√≤ng, s·ªë c·ªôt
 df.shape

(125, 3)

In [42]:
# ki·ªÉu d·ªØ li·ªáu c·ªßa c√°c thu·ªôc t√≠nh
df.dtypes

Country                  object
Continent                object
GDP (millions of US$)     int64
dtype: object

## Y√™u c·∫ßu 2

In [43]:
# ƒê·ªïi t√™n c√°c c·ªôt Country ü°™ Nuoc; Continent ü°™ Chauluc; GDP (millions of US$) ü°™ GDP (trieu $)
df.rename(columns={'Country':'Nuoc','Continent':'Chauluc','GDP (million US$)':'GDP (trieu US$)'}, inplace=True)
df.head()

          Nuoc        Chauluc  GDP (millions of US$)
0  Afghanistan           Asia                  18181
1      Albania         Europe                  12847
2      Algeria         Africa                 190709
3       Angola         Africa                 100948
4    Argentina  South America                 447644

## Y√™u c·∫ßu 3

In [44]:
# Ch√®n th√™m m·ªôt c·ªôt ‚ÄúThanhpho‚Äù v√†o sau c·ªôt ‚ÄúNuoc‚Äù, gi√° tr·ªã ban ƒë·∫ßu l√† gi√° tr·ªã c·ªßa c·ªôt ‚ÄúNuoc‚Äù    
df.insert(1, 'Thanhpho', df['Nuoc'])
df.head()

          Nuoc     Thanhpho        Chauluc  GDP (millions of US$)
0  Afghanistan  Afghanistan           Asia                  18181
1      Albania      Albania         Europe                  12847
2      Algeria      Algeria         Africa                 190709
3       Angola       Angola         Africa                 100948
4    Argentina    Argentina  South America                 447644

## Y√™u c·∫ßu 4

In [48]:
#Trong c·ªôt Thanhpho, thay gi√° tr·ªã Vietnam th√†nh Hanoi
df.Thanhpho.replace('Vietnam', 'Hanoi', inplace=True)
#L√†m t∆∞∆°ng t·ª± v·ªõi c√°c n∆∞·ªõc c√≤n l·∫°i.(Thay ƒë·ªïi tr√™n 5 n∆∞·ªõc ƒë·∫ßu ti√™n)
df.Thanhpho.replace('Afghanistan', 'Kabul', inplace=True)
df.Thanhpho.replace('Albania', 'Tirana', inplace=True)
df.Thanhpho.replace('Algeria', 'Algiers', inplace=True)
df.Thanhpho.replace('Angola', 'Luanda', inplace=True)
df.Thanhpho.replace('Argentina', 'Buenos Aires', inplace=True)
df[df.Thanhpho == 'Hanoi']

        Nuoc Thanhpho Chauluc  GDP (millions of US$)
122  Vietnam    Hanoi    Asia                 122722

In [49]:
df

            Nuoc      Thanhpho        Chauluc  GDP (millions of US$)
0    Afghanistan         Kabul           Asia                  18181
1        Albania        Tirana         Europe                  12847
2        Algeria       Algiers         Africa                 190709
3         Angola        Luanda         Africa                 100948
4      Argentina  Buenos Aires  South America                 447644
..           ...           ...            ...                    ...
120   Uzbekistan    Uzbekistan           Asia                  45353
121    Venezuela     Venezuela  South America                 315841
122      Vietnam         Hanoi           Asia                 122722
123        Yemen         Yemen         Africa                  33675
124       Zambia        Zambia         Africa                  19206

[125 rows x 4 columns]

## Y·ªÅu c·∫ßu 5

In [58]:
# X√≥a c√°c b·∫£n ghi c√≥ Chauluc l√† ‚ÄòAsia‚Äô
Index = df[df['Chauluc'] == 'Asia'].index # tr·∫£ v·ªÅ index c·ªßa c√°c b·∫£n ghi c√≥ Chauluc l√† Asia
Index

Int64Index([  0,   8,   9,  16,  18,  19,  23,  49,  52,  53,  54,  55,  57,
             60,  62,  64,  66,  70,  77,  82,  83,  88,  91,  93,  94,  97,
            101, 103, 107, 109, 111, 112, 113, 116, 120, 122],
           dtype='int64')

In [59]:
df.drop(index=Index, inplace=True)
df.head()

        Nuoc      Thanhpho        Chauluc  GDP (millions of US$)
1    Albania        Tirana         Europe                  12847
2    Algeria       Algiers         Africa                 190709
3     Angola        Luanda         Africa                 100948
4  Argentina  Buenos Aires  South America                 447644
5  Australia     Australia        Oceania                1488221

In [60]:
df['Chauluc'].unique()

array(['Europe', 'Africa', 'South America', 'Oceania', 'North America'],
      dtype=object)