In [1]:
import pandas as pd
from scipy.stats import pearsonr, chi2_contingency, spearmanr

In [2]:
# đọc dữ liệu 
df = pd.read_csv('D:\Desktop\Data_Analyst\Jupiter_Notebook_Pandas\Pandas\Credit_Scoring.csv')
df.head()

,Unnamed: 0,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents
0,9,0,0.116951,27,0,46.000000,NaN,2,0,0,0,NaN
1,10,0,0.189169,57,0,0.606291,23684.0,9,0,4,0,2.0
2,11,0,0.644226,30,0,0.309476,2500.0,5,0,0,0,0.0
3,12,0,0.018798,51,0,0.531529,6501.0,7,0,2,0,2.0
4,13,0,0.010352,46,0,0.298354,12454.0,13,0,2,0,2.0

#### Giữa độ tuổi (age) và thu nhập trung bình theo tháng (MonthlyIncome) có tương quan với nhau hay không

In [4]:
df1 = df[['age', 'MonthlyIncome']]
df1.dropna(inplace=True)
r, p = pearsonr(df1['age'], df1['MonthlyIncome'])
print('r=%.3f, p=%.3f' % (r, p))

r=0.038, p=0.000

C:\Users\Admin\AppData\Local\Temp/ipykernel_13612/3501880205.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1.dropna(inplace=True)

In [ ]:
# Kết luận pvalue=0.00 <0.05 nên hai thuộc tính diện tích và giá tương quan với nhau
# Vì 0.2<=|r|<0.4: => giữa hai thuộc tính có tương quan tuyến tính yếu

#### Giữa số lượng khoản vay (NumberOfOpenCreditLinesAndLoans) và độ tuổi có tương quan với nhau không

In [5]:
df2 = df[['age', 'NumberOfOpenCreditLinesAndLoans']]
df2.dropna(inplace=True)
r, p = pearsonr(df2['age'], df2['NumberOfOpenCreditLinesAndLoans'])
print('r=%.3f, p=%.3f' % (r, p))

r=0.148, p=0.000

C:\Users\Admin\AppData\Local\Temp/ipykernel_13612/474530874.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.dropna(inplace=True)

In [ ]:
# Kết luận pvalue=0.00 <0.05 nên hai thuộc tính diện tích và giá tương quan với nhau
# Vì 0.1<|r|<0.2: => giữa hai thuộc tính có tương quan tuyến tính

#### Giữa (số lượng người phụ thuộc) NumberOfDependents và thu nhập theo tháng (MonthlyIncome) có tương quan với nhau hay không

In [6]:
df3 = df[['NumberOfDependents', 'MonthlyIncome']]
df3.dropna(inplace=True)
r, p = pearsonr(df3['NumberOfDependents'], df3['MonthlyIncome'])
print('r=%.3f, p=%.3f' % (r, p))

r=0.063, p=0.000

C:\Users\Admin\AppData\Local\Temp/ipykernel_13612/3843599010.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3.dropna(inplace=True)

In [ ]:
# Kết luận pvalue=0.00 <0.05 nên hai thuộc tính diện tích và giá tương quan với nhau
# Vì 0<|r|<0.2 : giữa hai thuộc tính gần như không có tương quan tuyến tính

#### Mã hóa lại thuộc tính MonthlyIncome thành thuộc tính MonthlyIncome_order theo các khoảng tứ phân vị, giữa thuộc tính mới này và tình trạng nợ xấu trong 2 năm trở lại đây (SeriousDlqin2yrs) có liên quan tới nhau không

In [16]:
df4 = df[['MonthlyIncome', 'SeriousDlqin2yrs','RevolvingUtilizationOfUnsecuredLines']]
df4.dropna(inplace=True)
q1, q2, q3 = df4.MonthlyIncome.quantile(0.25), df4.MonthlyIncome.quantile(0.5), df4.MonthlyIncome.quantile(0.75)

C:\Users\Admin\AppData\Local\Temp/ipykernel_13612/288929861.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4.dropna(inplace=True)

In [17]:
def MonthlyIncome_order(data):
    if data < q1:
        return 1
    elif data >= q1 and data < q2:
        return 2
    elif data >= q2 and data < q3:
        return 3
    else:
        return 4

In [18]:
# tiến hành mã hoá
df4['MonthlyIncome_order'] = df4['MonthlyIncome'].apply(MonthlyIncome_order)

C:\Users\Admin\AppData\Local\Temp/ipykernel_13612/1688671897.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4['MonthlyIncome_order'] = df4['MonthlyIncome'].apply(MonthlyIncome_order)

In [19]:
df4

,MonthlyIncome,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,MonthlyIncome_order
1,23684.0,0,0.189169,4
2,2500.0,0,0.644226,1
3,6501.0,0,0.018798,3
4,12454.0,0,0.010352,4
5,13700.0,1,0.964673,4
...,...,...,...,...
149986,3400.0,0,0.385742,2
149987,2100.0,0,0.040674,1
149988,5584.0,0,0.299745,3
149990,5716.0,0,0.000000,3
149991,8158.0,0,0.850283,3

In [20]:
r, p = spearmanr(df4['MonthlyIncome_order'], df4['SeriousDlqin2yrs'])
print ("r= ", r, "; p=: ", p)

r=  -0.06835897259572886 ; p=:  1.622997394881245e-124

In [21]:
# Kết luận pvalue=0.00 <0.05 nên hai thuộc tính diện tích và giá tương quan với nhau
# Vì 0<|r|<0.2 : giữa hai thuộc tính gần như không có tương quan tuyến tính

#### Giữa thuộc tính MonthlyIncome_order với thuộc tính tỉ lệ số dư tài khoản (RevolvingUtilizationOfUnsecuredLines) có mối liên hệ với nhau không

In [22]:
r, p = spearmanr(df4['MonthlyIncome_order'], df4['RevolvingUtilizationOfUnsecuredLines'])
print ("r= ", r, "; p=: ", p)

r=  -0.07908587562940676 ; p=:  4.1447009935774966e-166

In [ ]:
# Kết luận pvalue=0.00 <0.05 nên hai thuộc tính diện tích và giá tương quan với nhau
# Vì 0<|r|<0.2 : giữa hai thuộc tính gần như không có tương quan tuyến tính