In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

#### Yêu cầu 1

In [2]:
# Đọc bộ dữ liệu
df = pd.read_csv('D:\Desktop\Data_Analyst\Jupiter_Notebook_Pandas\Pandas\GDPlist1.csv')
df.head()

       Country      Continent  GDP (millions of US$)
0  Afghanistan           Asia                  18181
1      Albania         Europe                  12847
2      Algeria         Africa                 190709
3       Angola         Africa                 100948
4    Argentina  South America                 447644

In [3]:
# Cho biết số dòng
df.shape

(125, 3)

In [4]:
# kiểu dữ liệu của các thuộc tính
df.dtypes

Country                  object
Continent                object
GDP (millions of US$)     int64
dtype: object

#### Yều cầu 2

In [5]:
# Tính giá trị lớn nhất và nhỏ nhất của GDP
print(f'Giá trị lớn nhất của GDP là: {df["GDP (millions of US$)"].max()}')
print(f'Giá trị nhỏ nhất của GDP là: {df["GDP (millions of US$)"].min()}')

Giá trị lớn nhất của GDP là: 15094025
Giá trị nhỏ nhất của GDP là: 10600

#### Yêu cầu 3

In [6]:
# Hãy cho biết xu hướng phân bố dữ liệu của GDP
print(f'Giá trị xuất hiện nhiều nhất của GDP là : {df["GDP (millions of US$)"].mode()}')
print(f'Giá trị trung vị của GDP là: {df["GDP (millions of US$)"].median()}')
print(f'Giá trị trung bình của GDP là: {df["GDP (millions of US$)"].mean()}')

Giá trị xuất hiện nhiều nhất của GDP là : 0         10600
1         11313
2         12461
3         12655
4         12827
         ...
120     2776324
121     3577031
122     5869471
123     7298147
124    15094025
Length: 125, dtype: int64
Giá trị trung vị của GDP là: 96089.0
Giá trị trung bình của GDP là: 555427.784

In [7]:
# Ở đây ta chưa có thể kết luận được xu hướng của GDP bởi vì khi tính mode không có giá trị nào xuất hiện nhiều hơn 2 lần, ta cần phải xem xét phân tích thống kê lại để dảm bảo dữ liệu đủ độ tin cậy

#### Yêu cầu 4

In [8]:
# Hãy cho biết châu lục nào xuất hiện nhiều nhất (Châu Âu)
df['Continent'].value_counts()

Europe           37
Asia             36
Africa           29
North America    11
South America     9
Oceania           3
Name: Continent, dtype: int64

#### Yêu cầu 5

In [9]:
# Tính tổng GDP mỗi châu lục
df_1 = df[['Continent','GDP (millions of US$)']]
df_1.rename(columns={'GDP (millions of US$)':'Tổng GDP'},inplace=True)
df1 = df_1.groupby('Continent')['Tổng GDP'].sum()
df1 = pd.DataFrame(df1)
df1.reset_index(inplace=True)
df1

D:\Python\lib\site-packages\pandas\core\frame.py:4441: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

       Continent  Tổng GDP
0         Africa   1820811
1           Asia  24425891
2         Europe  19139380
3  North America  18238447
4        Oceania   1662727
5  South America   4141217

In [10]:
# Tính trung bình cộng GDP mỗi châu lục
df_2 = df[['Continent','GDP (millions of US$)']]
df_2.rename(columns={'GDP (millions of US$)':'TBC GDP'},inplace=True)
df2 = df_2.groupby('Continent')['TBC GDP'].mean()
df2 = pd.DataFrame(df2)
df2.reset_index(inplace=True)
df2

D:\Python\lib\site-packages\pandas\core\frame.py:4441: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

       Continent       TBC GDP
0         Africa  6.278659e+04
1           Asia  6.784970e+05
2         Europe  5.172805e+05
3  North America  1.658041e+06
4        Oceania  5.542423e+05
5  South America  4.601352e+05

In [11]:
df_3 = pd.merge(df1,df2,on='Continent')
df_3

       Continent  Tổng GDP       TBC GDP
0         Africa   1820811  6.278659e+04
1           Asia  24425891  6.784970e+05
2         Europe  19139380  5.172805e+05
3  North America  18238447  1.658041e+06
4        Oceania   1662727  5.542423e+05
5  South America   4141217  4.601352e+05