In [2]:
# import thư viện
import pandas as pd

In [3]:
# Đọc dữ liệu vào DataFrame
import pandas as pd
df=pd.read_csv(filepath_or_buffer = 'FoodPrice_in_Turkey.csv', sep = ',')
df.head()

,Place,ProductId,ProductName,UmId,UmName,Month,Year,Price
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099

### 1. Ghi dữ liệu từ DataFrame vào file csv

In [4]:
df.to_csv('demo_FoodPrice.csv')

### 2. Ghi dữ liệu từ DataFrame vào file excel

In [5]:
df.to_excel('demo_FoodPrice.xlsx')

### 3. Ghi dữ liệu từ DataFrame vào file Json

#### Tham số orient được sử dụng để xác định định dạng dữ liệu đầu ra, có thể là:
##### - Các bản ghi – records
##### - Các cột – columns
##### - Các chỉ mục – indexs
##### - Các giá trị – values

In [6]:
df.to_json('demo_FoodPrice.json',orient='columns')

### 4. Ghi dữ liệu từ DataFrame vào file HDF5

#### Tham số table cho phép định dạng dữ liệu dưới dạng bảng

In [7]:
df.to_hdf('demo_FoodPrice.h5', 'table')

#### 5. Ghi dữ liệu từ DataFrame vào file HTML

In [8]:
df.to_html('demo_FoodPrice.html')